/*###########################  SLIDER ###################################*/

#slider{
    margin: 2% auto;
    width: 700px;
    height: 480px;
    overflow:hidden;
    background-color: black;
}
    /*Valores de las imagenes*/
#slider img{
    margin: 0 auto;
    width: 700px;
    height: 480px;
    position: absolute;
}
    /*Para que la primera imagen este activa al inicio*/
#slider img:nth-child(1){
            opacity: 1;
}


/*###########################  Fin SLIDER ###################################*/
